:root {
    --primery-color: #08289c;
    --primery-tex-color: #FFFFFF;
    --color-sectio: #1b72bc;

}


a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
p {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--primery-color);

}

.header-nav {
    position: relative;
    display: flex;
    align-items: center;
}
.logo {
    /* position: fixed; */
    /* bottom: 200px; */
    display: flex;
    font-family: 'Ms Madi';
    font-size: 40px;
    font-weight: 700;
    color: var(--primery-tex-color);
}

.logo-p {
    
    margin-top: 30px;
    margin-right: 15px;
    margin-left: -10px;
    padding-top: 20px;
}

.logo-v {
    
    margin-right: 10px;
    padding-top: 20px;
}

.logo-v::after {
   
    display: block;
    margin-top: -40px;
    margin-left: 42px;
    content: '';
    width: 5px;
    height: 60px;
    background-color: var(--primery-tex-color);
    border-radius: 20px;
}

.nav-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-list-item {
 padding-top: 40px;

}

.nav-list-item a {
color: var(--primery-tex-color);
margin-left: 30px;
font-family: 'Grisp';
font-weight: 500;
font-size: 20px;
transition: font-size 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover a {
font-size: 30px;
}

.list {
opacity: 0;
transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.list-item {
    margin-top: 10px;
 
}

.list-item a {
font-size: 18px;
}

.nav-list-item:hover .list {
    opacity: 1;
}
.bio {

background-image: linear-gradient(var(--primery-color),
 var(--color-sectio));
}

.discription {
display: flex;
margin-top: 50px;


}

.discription-bio {
 margin-top: 50px;
}

.discription-bio-title {
color: var(--primery-tex-color);
padding-bottom: 20px;
    font-family: 'Grisp';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.discription-bio-text {
    display: block;
        padding-right: 70px;
        padding-left: 70px;
        padding-bottom: 50px;
    color: var(--primery-tex-color);
    font-family: 'Grisp';
    font-weight: 500;
    font-size: 30px;
    text-align:justify;   
}

.discription-bio-text-ab {
    display: block;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 80px;
    color: var(--primery-tex-color);
    font-family: 'Grisp';
    font-weight: 500;
    font-size: 30px;
    text-align: justify;
}

.v-p-img {
margin-top: 50px;
margin-left: auto;
margin-right: auto;
    width: 800px;
    height: 1000px;
}


.footer {
    border-top: solid var(--primery-tex-color);
    padding-top: 10px;
    background-image: linear-gradient(var(--color-sectio), 
    var(--primery-color));
}

.footer-text {
    padding: 20px;
color: var(--primery-tex-color);
font-family: 'Grisp';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}


